<mat-card>
  <mat-list role="list">
    <mat-card class="example-card" *ngFor="let trx of transactionHistory">
        <mat-card-header>
                <mat-card-title>
                        <mat-chip-list *ngIf="trx.event==='received'" aria-label="received selection">
                        <mat-chip color="primary" selected>Received</mat-chip></mat-chip-list>
                        <mat-chip-list *ngIf="trx.event!=='received'" aria-label="received selection">
                                <mat-chip color="warn" selected>Sent</mat-chip></mat-chip-list>
                         fromAddress : ...{{trx.fromAddress | slice:trx.fromAddress.length-6:trx.fromAddress.length}}
                         <br>toAddress : ...{{trx.toAddress | slice:trx.toAddress.length-6:trx.toAddress.length}}</mat-card-title>
                <mat-card-subtitle>{{trx.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <b>{{trx.amount}} Libra
                </b>
        </mat-card-content>
        <mat-card-actions>
          <a href="{{trx.explorerLink}}" mat-menu-item>Explorer</a>
        </mat-card-actions>
     </mat-card>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>
