<zxing-scanner
  [enable]="scannerEnabled"
  [torch]="torchEnabled"
  [(device)]="currentDevice"
  (scanSuccess)="onCodeResult($event)"
  [formats]="formatsEnabled"
  [tryHarder]="tryHarder"
  (permissionResponse)="onHasPermission($event)"
  (camerasFound)="onCamerasFound($event)"
  (torchCompatible)="onTorchCompatible($event)"
></zxing-scanner>
<div align="center">
  <h2>{{ "Scan your Libra Wallet QR Code here" | translate }}.</h2>
</div>
