<div style="width:100%;height:0;padding-bottom:76%;position:relative;">
  <iframe
    src="https://giphy.com/embed/ESt8At0PXpmj6"
    width="100%"
    height="100%"
    style="position:absolute"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
</div>
<p><a href="https://giphy.com/gifs/money-jetsons-cartoon-ESt8At0PXpmj6"></a></p>
<br />
<div align="center">
  <h2>
    <teximate [text]="message" [enter]="enterAnimation"></teximate>
  </h2>
</div>
<br />
<div align="center">
  <button mat-raised-button color="primary" (click)="navigateToHistory()">
    Go to transaction history
  </button>
</div>
