// Converts px to rem
@function rem($int) {
    @return (((1 / 16) * $int) * 1rem);
  }
  
  .appbar {
    width: 100%;
    min-height: rem(56);
  
    &-bottom {
        position: relative;
        display: grid;
        width: 100%;
        box-shadow:
        0 3px 1px -2px rgba(0,0,0,.2),
        0 2px 2px 0 rgba(0,0,0,.14),
        0 1px 5px 0 rgba(0,0,0,.12);
  
        &-flat {
          box-shadow: none;
        }
  
        &-buttonarea {
          padding: 0 1rem;
        }
  
        &-normal {
          display: flex;
          align-items: center;
        }
        
        &-actions {
          padding: 0 rem(16);
        }
  
        &-cutout {
          width: rem(72);
          max-width: rem(72);
          clip-path: url(#appbar__cutout);
          transition: clip-path 200ms ease-in;
        }
  
        &-fab {
          will-change: transform;
          transition: transform 170ms ease-out;
          position: absolute;
          top: -50%;
          left: 50%;
          background-color: transparent;
          transform: translateX(-50%);
          z-index: 1;
  
          &-right-end {
            left: auto;
            right: rem(16);
            transform: translateX(0);
          }
          &-left-end {
            left: rem(16);
            right: auto;
            transform: translateX(0);
          }
        }
        &-center-inset {
          grid-template: auto / 1fr rem(72) 1fr;
        }
        &-center {
          display: flex;
  
          .appbar-bottom-normal {
            flex: 1 1 auto;
          }
        }
        &-left-end-inset {
          grid-template: auto / 1fr rem(72) rem(8);
        }
        &-right-end-inset {
          grid-template: auto / 1fr rem(72) rem(8);
        }
        &-no-fab {
          grid-template: auto / 1fr 1fr;
        }
      }
  
  }
  
  @mixin appbar-bottom($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
  
    .appbar-bottom {
        &-primary {
          background-color: mat-color($primary, default);
          color: mat-color($primary, default-contrast);
        }
        &-accent {
          background-color: mat-color($accent, default);
          color: mat-color($accent, default-contrast);
        }
        &-warn {
          background-color: mat-color($warn, default);
          color: mat-color($warn, default-contrast);
        }
      }
  }
  