<div
  fxLayout="column"
  fxFlexFill
  *ngIf="afAuth.user | async as user; else showLogin"
>
  <mat-toolbar color="primary">
    <img
      src="../assets/libra_logo.png"
      class="wallet-img"
      [routerLink]="['']"
    />
    <span> &nbsp; </span>
    <span noWrap="false"> {{ "Libra Wallet" | translate }}</span>
    <span class="example-spacer"></span>
    <button *ngIf="!isHWWalletConnected" mat-icon-button (click)="openHwWallet()">
      <mat-icon aria-label="Wallet hardware">hardware</mat-icon>
    </button>
    <button *ngIf="isHWWalletConnected" mat-icon-button (click)="disconnectHwWallet()">
      <mat-icon aria-label="Wallet hardware">hardware</mat-icon>
    </button>

    <button mat-icon-button (click)="switchLang()">
      <mat-icon aria-label="Switch language icon">language</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="accountAlreadyActivated"
      (click)="openAccount()"
    >
      <mat-icon aria-label="Create Account icon"
        >account_balance_wallet</mat-icon
      >
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon aria-label="Logout icon">power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
  <perfect-scrollbar
    *ngIf="type === 'component'"
    class="scroll-container"
    fxFlex="auto"
    [config]="config"
    [scrollIndicators]="true"
    (psXReachEnd)="onScrollEvent($event)"
    (psYReachEnd)="onScrollEvent($event)"
    (psXReachStart)="onScrollEvent($event)"
    (psYReachStart)="onScrollEvent($event)"
  >
    <router-outlet class="Site-content"></router-outlet>
  </perfect-scrollbar>
  <mat-bottom-bar
    fxFlexOffset="auto"
    class="footer"
    [inset]="insetToolbar"
    [fabPosition]="fabLocation"
    [color]="color"
    [flat]="flat"
  >
    <ng-template #mat_right_side_actions>
      <button mat-icon-button>
        <mat-icon [routerLink]="['receive']">money</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon [routerLink]="['history']">history</mat-icon>
      </button>
    </ng-template>
    <ng-template #mat_left_side_actions>
      <button mat-icon-button>
        <mat-icon [routerLink]="['balance']">account_balance_wallet</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon [routerLink]="['send']">send</mat-icon>
      </button>
    </ng-template>
    <ng-template #mat_fab_area>
      <button mat-fab (click)="scan()">
        <mat-icon>control_camera</mat-icon>
      </button>
    </ng-template>
  </mat-bottom-bar>
</div>

<ng-template #showLogin>
  <div fxLayout="row" fxFlexFill>
    <mat-card class="Site-content example-card">
      <mat-card-header>
        <mat-card-title>{{ "Sign In" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="{{ 'email' | translate }}"
                formControlName="email"
              />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="password"
                placeholder="{{ 'Password' | translate }}"
                formControlName="password"
              />
            </mat-form-field>
          </div>
        </form>
        <mat-progress-spinner
          style="position:fixed;top:50%;left:40%"
          *ngIf="isLoading"
          color="primary"
          mode="indeterminate"
        >
        </mat-progress-spinner>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row">
          <button
            mat-raised-button
            class="login-button"
            color="primary"
            (click)="loginWithEmail()"
            [disabled]="!loginForm.valid"
          >
            &nbsp;{{ "Login" | translate }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
