<mat-nav-list>
<a href="#" mat-list-item (click)="selectLang($event,'en')">
    <span mat-line>EN - English</span>
</a>
<a href="#" mat-list-item (click)="selectLang($event,'zh')">
    <span mat-line>汉语 - Chinese</span>
</a>
</mat-nav-list>