<mat-grid-list cols="1" rows="5" rowHeight="100px">
  <mat-grid-tile>
    <img class="wallet-img" src="../../../assets/wallet-logo.png" />
  </mat-grid-tile>
  <mat-grid-tile>
    {{ "Wallet" | translate }}: {{ libraAccount | slice: 0:6 }}...{{
      libraAccount | slice: 16:23
    }}<button
      mat-icon-button
      aria-label="copy clipboard"
      (click)="copyAccount()"
    >
      <mat-icon>file_copy</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="logo-img" src="../../../assets/libra-logo.jpg" /> {{ amount }}
    {{ "Libra" | translate }}
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-chip-list aria-label="Network Status">
      <mat-chip color="accent" selected>{{
        "Test Network" | translate
      }}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-icon-button
      aria-label="refresh amount"
      (click)="refreshAmount()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
