<div fxLayout="row" fxFlexFill>
  <mat-card class="Site-content example-card">
    <mat-card-header>
      <mat-card-title>{{ "Create Libra Account" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="{{ 'email' | translate }}"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="password"
              placeholder="{{ 'Password' | translate }}"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="{{ 'First Name' | translate }}"
              formControlName="firstName"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="{{ 'Last Name' | translate }}"
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
      </form>
      <mat-progress-spinner
        style="position:fixed;top:50%;left:40%"
        *ngIf="isLoading"
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        mat-raised-button
        class="hwlink-button"
        color="primary"
        (click)="linkHWWallet()"
        [disabled]="isHWWalletLinked"
      >
        &nbsp;{{ "LinkUp HW Wallet" | translate }}
      </button>
      <hr />
      <button
        mat-raised-button
        class="create-button"
        color="primary"
        (click)="registerWithEmail()"
        [disabled]="!registerForm.valid"
      >
        &nbsp;{{ "Create" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
